* {
    margin: 0;
    padding: 0;
    font-size: 5cqw;
}

body {

    text-align: center;
    margin-top: 1rem;
    background-color: #81B29A;

}

.gamegrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 550px;
    aspect-ratio: 1/1;
    gap: 8px;
}

.boxes {
    background-color: #f2cc8f;
    /* height: 15cqw;
    width: 15cqw; */
    border-radius: 15%;
    border: 2px solid black;
    font-size: 10cqw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.boxes:hover {
    background-color: #f2cc8f;
    transform: scale(1.02);
}

.winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0.5rem;
    align-items: center;
    gap: 20px;
}

.display {
    height: 3em;
    width: 60%;
    background-color: #e07a5f;
    border: 3px solid black;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 85px;

}

#displaypara {
    font-size: 5cqw;
}


#resetBtn {
    font-size: 0.5rem;
    border-radius: 15px;
    background-color: #3d405b;
    border: 3px solid black;
    color: white;
    cursor: pointer;
    height: 3em;
    width: 5em;
    max-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visibility {
    display: none;
}